<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>BoostNotePackage-512.png</string>
				<string>BoostNotePackage-320.png</string>
				<string>BoostNotePackage-64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nota BoostNote</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>BN.BoostNote.package</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>BN.BoostNote.webeep</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moodlemobile</string>
				<string>boostnote</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nota BoostNote</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>BoostNotePackage-512.png</string>
				<string>BoostNotePackage-320.png</string>
				<string>BoostNotePackage-64.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>BN.BoostNote.package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>boostnote</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
